<%= form_with(model: accept_condition, local: true) do |form| %>
  <% if accept_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accept_condition.errors.count, "error") %> prohibited this accept_condition from being saved:</h2>

      <ul>
      <% accept_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :importance %>
    <%= form.select :importance, AcceptCondition.importances.keys.to_a, {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
