<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>
      <h1>内定承諾条件</h1>
      <hr>
      <div class="center">
        <%= link_to '内定承諾条件の登録', new_accept_condition_path, class: "btn btn-primary w-75" %>
      </div>
      <% @accept_conditions.each do |accept_condition| %>
        <%= link_to edit_accept_condition_path(accept_condition) do %>
          <div class="box_r">
            <div class="row">
              <div class="col-12">
                <p>内定承諾条件：<%= accept_condition.content %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>
                  重要度：
                  <% if accept_condition.importance =="low" %>
                    低
                  <% elsif accept_condition.importance =="medium" %>
                    中
                  <% else %>
                    高
                  <% end %>
                </p>
              </div>
              <div class="col-12 right">
                <%= link_to '削除', accept_condition, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @accept_conditions %>
    </div>
  </div>
</div>



