<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @accept_condition.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @accept_condition.content %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @accept_condition.importance %>
</p>

<%= link_to 'Edit', edit_accept_condition_path(@accept_condition) %> |
<%= link_to 'Back', accept_conditions_path %>
