<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "つのエラー") %> が発生し保存できません</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    ■ <%= form.label :company_id %><br>
    <%= form.select :company_id, Company.where(user_id: current_user.id).map{|t| [t.name, t.id]}, class: "form-control" %>
  </div>

  <div class="field">
    ■ <%= form.label :name %><br>
    <%= form.select :name, Event.names.keys.map {|k| [I18n.t("enums.event.names.#{k}"), k]}, class: "form-control" %>

  </div>

  <div class="field">
    ■ <%= form.label :date %><br>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>

  <div class="field">
    ■ <%= form.label :is_passed %><br>
    <%= form.select :is_passed, Event.is_passeds.keys.map {|k| [I18n.t("enums.event.is_passeds.#{k}"), k]}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
