<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1>イベント一覧</h1>
      <hr>
      <%= link_to 'イベントの登録', new_event_path, class: "btn btn-primary" %>
      <ul class="nav nav-tabs justify-content-center nav-pills">
        <li class="nav-item">
          <a href="#events" class="nav-link active" data-toggle="tab">イベント</a>
        </li>
        <li class="nav-item">
          <a href="#events_past" class="nav-link" data-toggle="tab">過去のイベント</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="events" class="tab-pane active">
          <%= render 'list', events: @events %>
        </div>
        <div id="events_past" class="tab-pane">
          <%= render 'list', events: @events_past %>
        </div>
      </div>
      <%= paginate @events %>
    </div>
  </div>
</div>

