<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1>イベント一覧</h1>
      <hr>
      <%= link_to 'イベントの登録', new_event_path, class: "btn btn-primary" %>
      <% @events .each do |event| %>

          <%= link_to event do %>
            <div class="box_r">
              <div class="row">
                <div class="col-4">
                  <%= event.company.name %>
                </div>
                <div class="col-4">
                  <%= event.company.job %>
                </div>
                <div class="col-4">
                  <p>一次選考</p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <%= render 'companies/function', company: Company.find(event.company_id) %>
                </div>

                <div class="col-8">
                  <p>次の選考:<%= event.name %> 日時:<%= l event.date, format: :long %></p>
                </div>

              </div>
            </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>

