<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @event.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Is passed:</strong>
  <%= @event.is_passed %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
