<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2><%= link_to '<', events_path %></h2>
        <h1>イベント詳細</h1>
      </div>
      <hr>
      <p id="notice"><%= notice %></p>
      <p>
        <strong>企業名：</strong>
        <%= @event.company.name %>
      </p>

      <p>
        <strong>イベント名：</strong>
        <%= render 'companies/event_name', company_event: @event %>
      </p>

      <p>
        <strong>日時：</strong>
        <%= l @event.date, format: :long %>
      </p>

      <p>
        <strong>ステータス：</strong>
        <!--カラム名_i18nが反映されなかったため場合分けで表示-->
        <% if @event.is_passed == "no_result" %>
          -----
        <% elsif @event.is_passed == "passed" %>
          通過
        <% else %>
          落選
        <% end %>
      </p>

      <%= link_to '編集', edit_event_path(@event), class: "btn btn-success" %>
      <%= link_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>