       <% companies.each do |company| %>
        <%= link_to company do %>
          <% if Company.find(company.id).events.include?("droped") %>
            <div class="box_r">
              <div class="row">
                <div class="col-4">
                  <%= company.name %>
                </div>
                <div class="col-4">
                  <%= company.job %>
                </div>
                <div class="col-4">
                  <% if company.is_active == false %>
  <%= link_to '回答受付中に戻す', post_path(@post.id, post: {finished: false}), method: :put %>
<% else %>
  <%= link_to '解決済みにする', post_path(@post.id, post: {finished: true}), method: :put %>
<% end %>
                </div>
                
              </div>
            </div>
          <% else %>
            <div class="box_r">
              <div class="row">
                <div class="col-4">
                  <%= company.name %>
                </div>
                <div class="col-4">
                  <%= company.job %>
                </div>
                <div class="col-4">

                </div>
              </div>
              <div class="row">

                <div class="col-4">
                  <%= render 'function', company: company %>

                </div>


                <div class="col-8">
                  <% if Event.where(company_id: company.id).exists? %>
                <% company_event = Event.where(company_id: company.id).last %>
                  <p>次の選考:<%= company_event.name %> 日時:<%= l company_event.date, format: :long %></p>
                  <% else %>
                  <p>次の選考:未設定</p>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>