<% companies.each do |company| %>
  <%= link_to company do %>
    <div class="box_r">
      <div class="row">
        <div class="col-md-4">
          <%= company.name %>
        </div>
        <div class="col-md-4 col-xs-8">
          <%= company.job %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12 title">
          <p>
            <%= render 'companies/function', company: company %>&emsp;
          </p>
          <% unless Check.where(company_id: company.id, accept: 0).count == 0 %>
            <p class="count">
              未チェック：<%= Check.where(company_id: company.id, accept: 0).count %>個
            </p>
          <% end %>
        </div>
        <div class="col-md-8 col-xs-12">
          <% if Event.next_event?(company) %>
            <% company_event = Event.where(company_id: company.id).order(date: "ASC").last %>
            <p>
              次の選考:
              <%= render 'companies/event_name', company_event: company_event %>
              &emsp;<br class="sp_only"> 日時:  <%= l company_event.date, format: :long %>
            </p>
          <% else %>
            <p>次の選考:未設定</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 padding_b flex">
          <p>
            <% if company.is_active == false %>
              <%= link_to '選考中に変更', company_path(company.id, company: {is_active: true}), method: :put, data: { confirm: '本当に選考中に変更しますか?' }, class: "btn btn-success" %>
            <% else %>
              <%= link_to '選考済みに変更', company_path(company.id, company: {is_active: false}), method: :put, data: { confirm: '本当に選考済みに変更しますか?' }, class: "btn btn-danger" %>
            <% end %>
          </p>
          <% if Event.next_event?(company) == false && company.is_active == true %>
          <p style="margin-left: 10px;">
            <%= link_to '次の選考を追加', new_event_path, class: "btn btn-primary" %>
          </p>
          <% end %>
        </div>
      </div>
     </div>
  <% end %>
<% end %>