<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1>応募リスト</h1>
      <hr>
      <%= link_to '応募企業の登録', new_company_path, class: "btn btn-primary" %>
      <% @companies.each do |company| %>
        <%= link_to company do %>
          <div class="box_r">
            <div class="row">
              <div class="col-4">
                <%= company.name %>
              </div>
              <div class="col-4">
                <%= company.job %>
              </div>
              <div class="col-4">

              </div>
            </div>
            <div class="row">
              <% if Check.where(company_id: company.id).exists? %>
              <div class="col-4">
                <p>志望度：</p>
                <!--1*AcceptCondition.where(user_id: current_user.id, importance: low).count-->
                <!--+ 2*AcceptCondition.where(user_id: current_user.id, importance: medium).count-->
                <!--+ 3*AcceptCondition.where(user_id: current_user.id, importance: high).count-->

                <!--1*Check.where(user_id: current_user.id, importance: low).count-->
                <!--+ 2*Check.where(user_id: current_user.id, importance: medium).count-->
                <!--+ 3*Check.where(user_id: current_user.id, importance: high).count-->
              </div>
              <% end %>
              <% if Event.where(company_id: company.id).exists? %>
              <% @company_event = Event.where(company_id: company.id).last %>
              <div class="col-8">
                <p>次の選考:<%= @company_event.name %> 日時:<%= @company_event.date%></p>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



