<% if @company.user_id == current_user.id %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p id="notice"><%= notice %></p>
        <div class="title">
          <h2><%= link_to '<', companies_path %></h2>
          <h1><%= @company.name %></h1>
        </div>
        <hr>
        <div class="box_r">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <p>企業名：<%= @company.name %></p>
            </div>
            <div class="col-md-4 col-xs-12">
              <p>職種：<%= @company.job %></p>
            </div>
            <div class="col-md-4 col-xs-12">
              <p>
                ステータス：
                <% if @company.is_active == true %>
                  選考中
                <% else %>
                  選考済み
                <% end %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <p><%= render 'function', company: @company %></p>
            </div>
            <div class="col-md-8 col-xs-12">
              <% if Event.where(company_id: @company.id).exists? %>
                <% @company_event = Event.where(company_id: @company.id).last %>
                <p>
                  次の選考:  <%= render 'event_name', company_event: @company_event %>
                  &emsp;日時:  <%= l @company_event.date, format: :long %>
                </p>
              <% else %>
                <p>次の選考:未設定</p>
              <% end %>
            </div>
          </div>
        </div>
        <p>
          <!--カラム名_i18nが反映されなかったため場合分けで表示-->
          <strong>応募媒体：</strong>
          <% if @company.media == "unselected" %>
            <p>未選択</p>
          <% elsif @company.media == "mynavi" %>
            <p>マイナビ</p>
          <% elsif @company.media == "recnavi" %>
            <p>リクルート</p>
          <% elsif @company.media == "type" %>
            <p>Type(タイプ)</p>
          <% elsif @company.media == "doda" %>
            <p>doda(デューダ)</p>
          <% elsif @company.media == "green" %>
            <p>green(グリーン)</p>
          <% elsif @company.media == "wantedly" %>
            <p>wantedly(ウォンテッドリー)</p>
          <% elsif @company.media == "dmm" %>
            <p>DMM</p>
          <% elsif @company.media == "other" %>
            <p>その他</p>
          <% end %>
        </p>
        <p><strong>会社メモ</strong></p>
        <p class="box_s">
          <%= @company.detail %>
        </p>
          <%= link_to '編集', edit_company_path(@company), class: "btn btn-success" %>
          <%= link_to '削除', company_path(@company), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %>
          <% if Check.where(company_id: @company.id).exists? %>
            <%= link_to '志望度チェック確認', company_checks_path(company_id: params[:id]), class: "btn btn-primary" %>
          <% elsif AcceptCondition.where(user_id: current_user.id).exists? %>
            <%= link_to '志望度チェック新規登録', new_company_check_path(company_id: params[:id]), class: "btn btn-primary" %>
          <% else %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
