<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1><%= link_to '<', companies_path %>     <%= @company.name %></h1>
      <hr>
      <div class="box_r">
        <div class="row">
          <div class="col-4">
            <%= @company.name %>
          </div>
          <div class="col-4">
            <%= @company.job %>
          </div>
          <div class="col-4">
            <p>一次選考</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>志望度：</p>
          </div>
          <div class="col-8">
           <% if Event.where(company_id: @company.id).exists? %>
             <% @company_event = Event.where(company_id: @company.id).last %>
             <p>次の選考:<%= @company_event.name %> 日時:<%= l @company_event.date, format: :long %></p>
           <% else %>
             <p>次の選考:未設定</p>
           <% end %>
         </div>
        </div>
      </div>
      <p>
        <strong>応募媒体：</strong>
        <%= @company.media_i18n %>
      </p>
      <p><strong>会社メモ</strong></p>
      <p class="box_s">

        <%= @company.detail %>
      </p>

      <%= link_to '編集', edit_company_path(@company), class: "btn btn-success" %>
      <%= link_to '削除', company_path(@company), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %>
      <% if Check.where(company_id: @company.id).exists? %>
        <%= link_to '志望度チェック確認', company_checks_path(company_id: params[:id]), class: "btn btn-primary" %>
      <% elsif AcceptCondition.where(user_id: current_user.id).exists? %>
      <!--これいらん気がする-->
        <%= link_to '志望度チェック新規登録', new_company_check_path(company_id: params[:id]), class: "btn btn-primary" %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

