<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>
      <h1><%= link_to '<', company_path(id: params[:company_id]) %><%= @company.name %>内定承諾条件</h1>

      <table class="table">


  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.accept_condition.content %></td>
        <td><%= check.accept %></td>

        <td><%= link_to '編集', edit_company_check_path(company_id: params[:company_id], id: check.id), class: "btn btn-success" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @checks %>
    </div>
  </div>
</div>