<p id="notice"><%= notice %></p>

<h1>Checks</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Accept condition</th>
      <th>Accept</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.company %></td>
        <td><%= check.accept_condition %></td>
        <td><%= check.accept %></td>
        <td><%= link_to 'Show', check %></td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check', new_check_path %>
