<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @check.company %>
</p>

<p>
  <strong>Accept condition:</strong>
  <%= @check.accept_condition %>
</p>

<p>
  <strong>Accept:</strong>
  <%= @check.accept %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
