<!DOCTYPE html>
<html>
  <head>
    <title>Recruit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/014a69a131.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <footer>
      <ul>
        <li>
          <%= link_to "応募リスト", companies_path %>
        </li>
        <li>
          <%= link_to "データ", datas_path %>
        </li>
        <li>
          <%= link_to "イベント一覧", events_path %>
        </li>
        <li>
          <%= link_to "条件", accept_conditions_path %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
