<!DOCTYPE html>
<html>
  <head>
    <title>Recruit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/014a69a131.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to companies_path do %>
              <i class="fas fa-pencil-alt"></i><br>
              <span class="font">応募リスト</span>
            <% end %>
          </li>
          <li>
            <%= link_to datas_path do %>
              <i class="fas fa-database"></i><br>
              <span class="font">データ</span>
            <% end %>
          </li>
          <li>
            <%= link_to events_path do %>
              <i class="fas fa-calendar-alt"></i><br>
              <span class="font">イベント一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to accept_conditions_path do %>
              <i class="fas fa-lightbulb"></i><br>
              <span class="font">条件</span>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i><br>
              <span class="font">ログアウト</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
